*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

input,
select,
textarea,
button,
label {
    border: none;
    outline: none;
}