body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    background-color: var(--clr-neutral-cream);
    color: var(--clr-neutral-white);
    font-family: var(--font-family-body);

    padding: var(--spacing-lg);
    margin: 0;
}



.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: stretch;


    width: 100%;
    max-width: 700px;
    min-height: 500px;

    border-radius: var(--spacing-sm);

    overflow: hidden;

    box-shadow: -2px 3px 5px 2px rgba(14, 13, 13, 0.141);
    text-align: center;
}

.product-img {
    height: auto;
    width: 100%;
    flex: 1 1 350px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-details {
    height: auto;
    width: 100%;
    flex: 1 1 350px;

    background-color: var(--clr-neutral-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;

    text-align: left;

}


.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.price .current {
    color: var(--clr-primary-green-500);
    font-size: 2rem;
    font-family: var(--font-family-header);
}

.price .past {
    color: var(--clr-neutral-grey);
    font-size: 1rem;
    text-decoration: line-through;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: var(--spacing-sm);
    background-color: var(--clr-primary-green-500);
    border-radius: var(--spacing-xs);

    width: 100%;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--clr-hover-green);
    color: var(--clr-body-BG-Grey-900);
}

.btn:active {
    background-color: var(--clr-active-green);
}

.btn:focus-visible {
    border: 2px solid var(--clr-active-green);
    outline: none;
    border-radius: 12px;

}

.btn img {
    width: 18px;
}

attribution {
    display: inline-block;
    color: var(--clr-primary-green-700);
    padding: var(--spacing-md);

    opacity: 0.55;

    text-align: center;

    a {
        display: inline;
        padding: 0;
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }

}

@media (max-width:796px) {
    .card {
        flex-direction: column;
        min-width: 375px;
    }

    .product-details {
        gap: 1.5rem;
    }

}